.title{
    color: white;
}
.menuButton{
    float: right;
    margin-left: -50%;
    margin-top: 2em;
    margin-right: 1em;
}
.btn{
    color: aquamarine;
    float: right;
    margin-left: -50%;
    margin-top: 2em;
    margin-right: 1em;
}