.link{
    text-decoration: none;
    color: grey;
    margin-top: 7px;
    margin-right: 17px;
}
.container{
    display: flex;
    justify-content: right;
}
.headertxt{
    flex-direction: row-reverse;
}